<!doctype html>
<html>
<head>
    <title>See and Sync</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>
<body>

  <section class="container" >
    <header>
      <h1>See and Sync <i class="fas fa-sync"></i></h1>

      <a href="/test"><button id="profile" type="button" name="button">Back to Profile</button></a>
      <a href="/feed"><button id="feed" type="button" name="button">Video Feed</button></a>
    </header>
    <section class="intro" >

    <p class="welcome" >Find And Post Your Background Music!</p>
    <p class="welcome" >Video Producers, Post Your Best Videos.</p>
    <p class="welcome" >Music Producers, Submit The Perfect Background Music.</p>
    </section>

      <section class="bottomIndex" >
          <p>Login or Signup:</p>

          <a href="/login" class="btn btn-default"><button type="button" name="button">Login</button></a>
          <a href="/signup" class="btn btn-default"><button type="button" name="button">Sign Up</button></a>
      </section>

  </section>
</body>
</html>
